<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    {{>header}}
    <h1>About</h1>
    <p>This is a simple web server created using Node.js and Express.js.</p>
    <p>It is a part of the course "Building Web Applications with Node.js and Express.js".</p>
    <p>Author of the application is: {{name}}.</p>
      {{>footer}}
</body>
</html>